.my-carousel {
  --bs-carousel-control-color: #2e7d32;
}

.my-carousel .carousel-inner,
.my-carousel .carousel-item {
  height: 300px;
}

.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.event-card {
  max-width: 75vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.event-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.carousel-control-next-icon::after, .carousel-control-prev-icon::after {
  color: black;
}